# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.lock

# Directories
.terraform
ignored

# Ignored files
*gitignore*.tf
terraform.tfvars
provision/compute_instance_image_source_ocid.auto.tfvars
*pkrvars.hcl

# Ignored Ansible files
hosts.ini
all

**/ssh_authorized_keys.txt

.DS_Store
.vscode

packer-manifest.json







