
############ HashiStack {{ version }}  ###################

a 3-node Oracle Linux/ARM64 cluster running on OCI

- Cluster capacity: 3GHz CPU, 18GB Memory
- Running : Consul & Nomad

##################################################
